In [74]:
# count vectorizer
# Types of naive bayes classifier
# sklearn MultinomialNB classifier
# sklearn pipeline

import pandas as pd
from sklearn.datasets import load_wine
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
wine = load_wine()
dir(wine)

['DESCR', 'data', 'feature_names', 'frame', 'target', 'target_names']

In [75]:
wine.data.shape

(178, 13)

In [76]:
wine.feature_names

['alcohol',
 'malic_acid',
 'ash',
 'alcalinity_of_ash',
 'magnesium',
 'total_phenols',
 'flavanoids',
 'nonflavanoid_phenols',
 'proanthocyanins',
 'color_intensity',
 'hue',
 'od280/od315_of_diluted_wines',
 'proline']

In [77]:
df = pd.DataFrame(wine.data,columns=wine.feature_names)
df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [78]:
df['target'] = wine.target
df['target_names'] = wine.target_names[wine.target]
df[df.columns[10:]].head()

    hue  od280/od315_of_diluted_wines  proline  target target_names
0  1.04                          3.92   1065.0       0      class_0
1  1.05                          3.40   1050.0       0      class_0
2  1.03                          3.17   1185.0       0      class_0
3  0.86                          3.45   1480.0       0      class_0
4  1.04                          2.93    735.0       0      class_0

In [79]:
# to check if there are nulls in any columns
df.columns[df.isna().any()]

Index([], dtype='object')

In [80]:
X = df.drop(columns=['target','target_names'])
y = df.target
X_train, X_test, y_train, y_test = train_test_split(X,y ,test_size=.2)

In [81]:
bnb = GaussianNB()
mnb = MultinomialNB()

In [82]:
bnb.fit(X_train,y_train)
mnb.fit(X_train,y_train)

MultinomialNB()

In [83]:
bnb.score(X_test,y_test)

1.0

In [84]:
mnb.score(X_test,y_test)

0.8888888888888888

In [63]:
spam =pd.read_csv('spam.csv')
spam.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [68]:
spam['spam'] =spam.Category.apply(lambda x : 1 if x =='spam' else 0) 
spam.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [85]:
X_train, X_test, y_train, y_test = train_test_split(spam.Message,spam.spam,test_size=0.2)

In [96]:
X_train

2790          When you are big..| God will bring success.
3197    I av a new number,  . Wil u only use this one,ta.
30      Wait that's still not all that clear, were you...
430     I wnt to buy a BMW car urgently..its vry urgen...
4850    either way works for me. I am  &lt;#&gt;  year...
                              ...
3234    Height of recycling: Read twice- People spend ...
1271    Sorry chikku, my cell got some problem thts y ...
2975           I'll text carlos and let you know, hang on
1965    Honeybee Said: *I'm d Sweetest in d World* God...
451                                         hanks lotsly!
Name: Message, Length: 4457, dtype: object

In [88]:
len(X_test)

1115

In [98]:
cv = CountVectorizer()
cv.fit(X_train)
countvec = cv.transform(X_train)

In [100]:
mn = MultinomialNB()
mn.fit(countvec,y_train)
mn.predict(cv.transform(X_test))

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

In [108]:
from sklearn.pipeline import Pipeline

clf = Pipeline([
    ('vectorizor',CountVectorizer()),
    ('multiNB',MultinomialNB())
])

In [ ]:
clf.

In [110]:
clf.fit(X_train,y_train)
clf.score(X_test,y_test)

0.979372197309417